[submodule "protected/vendors/yii"]
	path = protected/vendors/yii
	url = https://github.com/yiisoft/yii.git
[submodule "protected/vendors/csslint"]
	path = protected/vendors/csslint
	url = https://github.com/stubbornella/csslint.git
[submodule "public/vendors/dracula"]
	path = public/vendors/dracula
	url = https://github.com/strathausen/dracula.git
