.DS_Store

.buildpath
.project
.settings
nbproject
.idea/
atlassian-ide-plugin.xml

build/*
htdocs/assets/*
protected/runtime/*

protected/config/*_local.php

protected/tests/build/

*.tmp
*.bak
cache.properties

.externalToolBuilders
vendor/*

