<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="protected/tests/bootstrap.php"
	backupGlobals="false" backupStaticAttributes="false" strict="false"
	verbose="true" timeoutForSmallTests="60">

	<testsuite name="Units">
		<directory suffix=".php">protected/tests/unit</directory>
	</testsuite>

	<logging>
		<log type="coverage-html" target="build/coverage" title="Textadventure-NextGen"
			charset="UTF-8" yui="true" highlight="true" lowUpperBound="35"
			highLowerBound="70" />
	</logging>

	<filter>
		<blacklist>
			<directory suffix=".php">./protected/vendors</directory>
			<directory suffix=".php">./protected/tests</directory>
			<directory suffix=".php">./protected/runtime</directory>
			<directory suffix=".php">./public/vendors</directory>
			<directory suffix=".php">./assets</directory>
			<directory suffix=".php">./build</directory>
		</blacklist>
	</filter>

	<selenium>
		<browser name="Internet Explorer" browser="*iexplore" timeout="10000" />
		<browser name="Firefox" browser="*firefox" timeout="10000" />
	</selenium>

</phpunit>
