@CHARSET "UTF-8";

html,body,a,td {
	font: 14px/18px Verdana, Tahoma, Arial, 'Trebuchet MS', Sans-Serif,
		Georgia, Courier, 'Times New Roman', Serif;
	color: #333;
}

p {
	margin-bottom: 6px;
}

em {
	text-decoration: underline;
}

pre,code {
	font-family: monospace;
	font-size: 0.8em;
}

blockquote {
	padding-left: 12px;
	border-left: 1px dotted #333;
	margin: 6px;
	font: 18px/22px 'KingthingsPetrockLightRegular', Arial, sans-serif;
}

blockquote b,blockquote strong {
	font: 18px/22px 'KingthingsPetrockRegular', Arial, sans-serif;
}

body {
	background-color: #E3DACC;
}

.clear {
	clear: both;
}

a,a:ACTIVE,a:FOCUS,a:HOVER,a:LINK,a:VISITED {
	color: #0000CC;
}

h1 {
	font: 32px/36px 'KingthingsPetrockRegular', Arial, sans-serif;
	letter-spacing: 0;
}

h2 {
	font: 26px/30px 'KingthingsPetrockRegular', Arial, sans-serif;
	letter-spacing: 0;
}

h3 {
	font: 22px/26px 'KingthingsPetrockRegular', Arial, sans-serif;
	letter-spacing: 0;
}

h4 {
	font: 18px/22px 'KingthingsPetrockRegular', Arial, sans-serif;
	letter-spacing: 0;
}

h5 {
	font: 16px/20px 'KingthingsPetrockRegular', Arial, sans-serif;
	letter-spacing: 0;
}

div#page {
	width: 95%;
	margin: 10px auto 0;
	max-width: 1280px;
	max-height: 1007px;
}

div#logostrip {
	background-color: #DBCEBB;
	background-image:
		url("/themes/drachendaemmerung/images/headbanner_1400x140_dd2.jpg");
	height: 110px;
	border: 1px solid #333;
	padding: 12px;
	border-radius: 10px 10px 0 0;
	position: relative;
	font: 18px/22px 'KingthingsPetrockLightRegular', Arial, sans-serif;
}

/*
 * move background position for smaller screens to center text
 */
@media screen and (max-width: 1000px) {
	div#logostrip {
		background-position: -280px 0;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
	div#logostrip {
		background-position: -180px 0;
	}
}

div#logostrip div.langchooser {
	float: right;
}

div#logostrip div.langchooser a {
	margin-left: 5px;
	float: left;
	display: block;
}

div#logostrip img.logo {
	float: left;
}

div#logostrip span.sticky {
	position: absolute;
	bottom: 0;
	right: 12px;
}

div#mainwrap {
	background:
		url("/themes/drachendaemmerung/images/hintergrund_1400x1200.jpg")
		no-repeat #DBCEBB;
}

div.breadcrumbs {
	font-size: 0.8em;
	border: 1px solid #333;
	border-bottom: none;
	padding: 0 0 0 25px;
	font: 18px/27px 'KingthingsPetrockLightRegular', Arial, sans-serif;
}

div.breadcrumbs a {
	font: 18px/27px 'KingthingsPetrockLightRegular', Arial, sans-serif;
}

div#footer { /*border-top: 1px solid #333;*/
	text-align: right;
	margin-top: 12px;
	font: 12px/16px 'KingthingsPetrockLightRegular', Arial, sans-serif;
}

div#footer a {
	font: 12px/16px 'KingthingsPetrockLightRegular', Arial, sans-serif;
}

div#mainmenu {
	border: 1px solid #333;
	border-bottom: none;
	margin: 6px 0 0;
	padding: 0 12px;
}

div#mainmenu ul li {
	display: inline;
	margin: 0 5px 0 0;
	padding: 0 0 0 5px;
	border-left: 1px solid black;
}

div#mainmenu ul li:FIRST-CHILD {
	border: none;
}

div#mainmenu ul li a {
	text-decoration: none;
	font: 18px/27px 'KingthingsPetrockLightRegular', Arial, sans-serif;
}

div#mainmenu ul li a:HOVER {
	text-decoration: underline;
	font: 18px/27px 'KingthingsPetrockLightRegular', Arial, sans-serif;
}

div#mainmenu ul li.active a {
	font: 18px/27px 'KingthingsPetrockRegular', Arial, sans-serif;
}

div#content {
	border: 1px solid #333;
	padding: 12px;
	border-radius: 0 0 10px 10px;
	max-height: 700px;
	overflow: auto;
}

div.view.adventure {
	border-top: 1px solid #333;
	padding: 12px 0;
}

div.view.adventure:first-child {
	border-top: none;
}

div.view.adventure div.description {
	float: left;
	width: 74%;
}

div.view.adventure div.button {
	float: right;
	height: 64px;
	width: 22%;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: center;
}

div.view.adventure div.button-play {
	/* http://www.colorzilla.com/gradient-editor/ */
	background: rgb(180, 221, 180); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I0ZGRiNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE3JSIgc3RvcC1jb2xvcj0iIzgzYzc4MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iIzUyYjE1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY3JSIgc3RvcC1jb2xvcj0iIzAwOGEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgzJSIgc3RvcC1jb2xvcj0iIzAwNTcwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDI0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(180, 221, 180, 1) 0%,
		rgba(131, 199, 131, 1) 17%, rgba(82, 177, 82, 1) 33%,
		rgba(0, 138, 0, 1) 67%, rgba(0, 87, 0, 1) 83%, rgba(0, 36, 0, 1) 100%
		); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(180,
		221, 180, 1) ), color-stop(17%, rgba(131, 199, 131, 1) ),
		color-stop(33%, rgba(82, 177, 82, 1) ),
		color-stop(67%, rgba(0, 138, 0, 1) ),
		color-stop(83%, rgba(0, 87, 0, 1) ),
		color-stop(100%, rgba(0, 36, 0, 1) ) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(180, 221, 180, 1) 0%,
		rgba(131, 199, 131, 1) 17%, rgba(82, 177, 82, 1) 33%,
		rgba(0, 138, 0, 1) 67%, rgba(0, 87, 0, 1) 83%, rgba(0, 36, 0, 1) 100%
		); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(180, 221, 180, 1) 0%,
		rgba(131, 199, 131, 1) 17%, rgba(82, 177, 82, 1) 33%,
		rgba(0, 138, 0, 1) 67%, rgba(0, 87, 0, 1) 83%, rgba(0, 36, 0, 1) 100%
		); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(180, 221, 180, 1) 0%,
		rgba(131, 199, 131, 1) 17%, rgba(82, 177, 82, 1) 33%,
		rgba(0, 138, 0, 1) 67%, rgba(0, 87, 0, 1) 83%, rgba(0, 36, 0, 1) 100%
		); /* IE10+ */
	background: linear-gradient(top, rgba(180, 221, 180, 1) 0%,
		rgba(131, 199, 131, 1) 17%, rgba(82, 177, 82, 1) 33%,
		rgba(0, 138, 0, 1) 67%, rgba(0, 87, 0, 1) 83%, rgba(0, 36, 0, 1) 100%
		); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#b4ddb4',
		endColorstr='#002400', GradientType=0 ); /* IE6-8 */
}

div.view div.button-noplay {
	background: rgb(248, 80, 50); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4NTAzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YxNmY1YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2Y2MjkwYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcxJSIgc3RvcC1jb2xvcj0iI2YwMmYxNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNzM4MjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(248, 80, 50, 1) 0%,
		rgba(241, 111, 92, 1) 50%, rgba(246, 41, 12, 1) 51%,
		rgba(240, 47, 23, 1) 71%, rgba(231, 56, 39, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(248,
		80, 50, 1) ), color-stop(50%, rgba(241, 111, 92, 1) ),
		color-stop(51%, rgba(246, 41, 12, 1) ),
		color-stop(71%, rgba(240, 47, 23, 1) ),
		color-stop(100%, rgba(231, 56, 39, 1) ) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(248, 80, 50, 1) 0%,
		rgba(241, 111, 92, 1) 50%, rgba(246, 41, 12, 1) 51%,
		rgba(240, 47, 23, 1) 71%, rgba(231, 56, 39, 1) 100% );
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(248, 80, 50, 1) 0%,
		rgba(241, 111, 92, 1) 50%, rgba(246, 41, 12, 1) 51%,
		rgba(240, 47, 23, 1) 71%, rgba(231, 56, 39, 1) 100% );
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(248, 80, 50, 1) 0%,
		rgba(241, 111, 92, 1) 50%, rgba(246, 41, 12, 1) 51%,
		rgba(240, 47, 23, 1) 71%, rgba(231, 56, 39, 1) 100% ); /* IE10+ */
	background: linear-gradient(top, rgba(248, 80, 50, 1) 0%,
		rgba(241, 111, 92, 1) 50%, rgba(246, 41, 12, 1) 51%,
		rgba(240, 47, 23, 1) 71%, rgba(231, 56, 39, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#f85032',
		endColorstr='#e73827', GradientType=0 ); /* IE6-8 */
}

div.view.adventure div.button a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin-top: 12px;
}

div.view.adventure div.button-play a:hover {
	text-decoration: underline;
}

div.form form .row {
	clear: both;
}

div.form form .row label {
	display: block;
	float: left;
	width: 24%;
}

div.form form .row .captcha-wrapper {
	display: block;
	float: left;
	width: 74%;
}

div.form form .row .captcha-wrapper img {
	display: block;
	float: none;
	clear: left;
	margin: 2px;
}

div.form form .row input,div.form form .row textarea {
	display: block;
	float: left;
	width: 74%;
}

div.form form .row.error input,div.form form .row .captcha-wrapper.error input,div.form form .row.error textarea
	{
	display: block;
	float: left;
	width: 49%;
}

div.form form .row.buttons {
	text-align: center;
}

div.form form .row.buttons input {
	float: none;
	display: inline;
}

div.form form .row .hint {
	display: block;
	clear: both;
}

div.form form .row .errorMessage {
	display: block;
	float: left;
	width: 24%;
	color: #ff0000;
	line-height: 16px;
}

div.errorSummary {
	border: 1px solid #C50000;
	background-color: #F2E5E5;
	color: #C50000;
	margin-bottom: 12px;
}

div.errorSummary p,div.errorSummary h4,div.errorSummary ul {
	margin: 5px;
}

input[type="radio"],input[type="checkbox"] {
	width: auto !important;
}
