<phpunit bootstrap="bootstrap.php"
		colors="false"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		stopOnFailure="false">

	<selenium>
		<browser name="Internet Explorer" browser="*iexplore" />
		<browser name="Firefox" browser="*firefox" />
	</selenium>

	<filter>
		<blacklist>
			<directory suffix=".php">./../vendors</directory>
			<directory suffix=".php">./../tests</directory>
			<directory suffix=".php">./../runtime</directory>
			<directory suffix=".php">./../../assets</directory>
		</blacklist>
	</filter>

</phpunit>
